@media (min-width: 1280px) and (orientation: landscape) {
    .grid {
        --columns: 3;
        --gap: 1em;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .grid {
        --columns: 2;
        --gap: 1em;
    }
}

@media (max-width: 799px) {
    .grid {
        --columns: 1;
        --gap: 1em;
    }
}

.grid {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.grid-item a {
    display: block;
    padding: 3px;
    background: rgba(255, 210, 130, 0.3);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .1);
}

.grid-item img {
    display: block;
    width: 100%;
    /*-webkit-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
    transition: .5s ease-in-out;
}

/*.grid-item a:hover img {*/
/*    -webkit-filter: grayscale(0%);*/
/*    filter: grayscale(0%);*/
/*}*/

.grid-item {
    break-inside: avoid;
    margin-bottom: var(--gap);
    width: 32%;
    float: left;
}

img {
    max-width: 100%;
}

/*@media (hover: none) {*/
/*    .grid-item img {*/
/*        -webkit-filter: grayscale(0%);*/
/*        filter: grayscale(0%);*/
/*    }*/
/*}*/