<header>
    <nav class = "container_head">
        <a class = "logo" href = "/">
            <span>G</span>
            <span>A</span>
            <span>L</span>
            <span>L</span>
            <span>E</span>
            <span>R</span>
            <span>Y</span>
        </a>
        <div class="nav-toggle"><span></span></div>
        <ul id = "menu">
            <li><a href = "/">|Галерея|</a></li>
            <li><a href = "/wallpapers">|Обои|</a></li>
        </ul>
    </nav>
</header>