<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yorymotoru's Gallery</title>

    <meta property="og:title" content="Yorymotoru's Gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="//gallery.yorymoto.ru/"/>
    <meta property="og:image" content="//images/favicon.ico"/>
</head>
<body>
<div class="imgbox">
    The cache has been reset!
</div>
</body>
</html>