<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yorymotoru's Gallery</title>

    <meta property="og:title" content="Yorymotoru's Gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="//gallery.yorymoto.ru/"/>
    <meta property="og:image" content="//images/favicon.ico"/>

    <div th:replace="~{fragments/head_links.html}"></div>
    <link href="style/my-masonry.css" rel="stylesheet">
    <link href="style/ellips-loader.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header th:replace="~{fragments/header.html}"></header>
        <div class="bodycont">
            Фоточки с моих прогулок <br><br>
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="grid">
                            <div class="grid-item" th:each="img: ${listImages}" th:data-height="${img.height}"
                                 th:data-width="${img.width}">
                                <a target=_blank class="grid-link" th:href="${img.href}">
                                    <img class="grid-img" th:src="${img.thumbnail}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <p class="pagination">
                        <a class='pagination__next' th:href='${"/" + (listImages.nextPageable().pageNumber + 1)}'></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last"></p>
        <p class="infinite-scroll-error"></p>
    </div>
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>

<script src="js/infinite-scroll.pkgd.min.js"></script>
<script src="js/my-masonry.js"></script>

<script>
    myMasonry();
    window.onresize = myMasonry.resized;

    let infiniteScroll = new InfiniteScroll(document.querySelector('.grid'), {
        // options
        path: '.pagination__next',
        append: '.grid-item',
        history: false,
        status: '.page-load-status',
        outlayer: myMasonry
    });
</script>

<script>
    $('.nav-toggle').on('click', function () {
        $('#menu').toggleClass('active');
    });
</script>

</body>
</html>